@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import './styles/theme.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@theme {
	--bg-color-1: oklch(0.2883 0.0228 234.71);
	--bg-color-2: oklch(0.3467 0.0228 239.82);
	--text-color: color-mix(in oklch, white, var(--bg-color-1) 30%);
	--header-color: color-mix(in oklch, white, var(--bg-color-1) 16%);
}

body {
	background-color: var(--bg-color-1);
	color: var(--text-color);
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--header-color);
	font-weight: 900;
}
h3,
h4 {
	font-weight: 700;
}

h5,
h6 {
	font-weight: 500;
}
