@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--bg-color: oklch(0.2883 0.0228 234.71);
	--text-color: color-mix(in oklch, white, var(--bg-color) 30%);
	--header-color: color-mix(in oklch, white, var(--bg-color) 16%);
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--header-color);
	font-weight: 900;
}
h3,
h4 {
	font-weight: 700;
}

h5,
h6 {
	font-weight: 500;
}
